*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    max-width: 30%;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form div{
    display: flex;
    justify-content: space-between;
}

input{
    width: calc(100%/7);
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}