a{
    text-decoration: none;
    position: relative;
}

a:hover:before{
    content: attr(data-tooltip);
    position: absolute;
    top:-2.2em;
    left:-10px;

    width:max-content;
    background-color: yellow;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    
}


.container{
    max-width: 70%;
    margin: auto;
}